# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 